name: Lighthouse CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    
    services:
      # Start Redis
      redis:
        image: redis
        ports:
          - 6379:6379
      # Start PostgreSQL
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: mydb
          POSTGRES_USER: johndoe
          POSTGRES_PASSWORD: randompassword
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - run: npm ci
      
      - name: Generate Prisma Client
        run: npx prisma generate

      - name: Push Database Schema
        # This creates the tables in the temporary Postgres service
        run: npx prisma db push
        env:
          DATABASE_URL: "postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
        
      - run: npm install -g @lhci/cli
      
      - name: Start Next.js dev server
        run: |
          npm run dev &
          npx wait-on http://localhost:3000 --timeout 60000
        env:
          DATABASE_URL: "postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
          REDIS_URL: "redis://localhost:6379"
          
      - run: lhci autorun
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
          DATABASE_URL: "postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
          REDIS_URL: "redis://localhost:6379"